/* color palette */
html {
  --color-purple: #564D80;
  --color-green: #88B14B;
  --color-white: #f2f2f2;
  --color-overlay-white: rgba(242, 242, 242, 0.11);
}

/* color semantics */
html {
  --color-primary: var(--color-purple);
  --color-accent: var(--color-green);
}

/* color applications */
html {
  --color-text: var(--color-white);
  --color-bg: var(--color-primary);
  --color-overlay: var(--color-overlay-white);
}