/* color palette */
html {
  --color-purple: #564D80;
  --color-green: #88B14B;
  --color-white: #f2f2f2;
  --color-overlay-white: rgba(242, 242, 242, 0.11);
}

/* color semantics */
html {
  --color-primary: var(--color-purple);
  --color-accent: var(--color-green);
}

/* color applications */
html {
  --color-text: var(--color-white);
  --color-bg: var(--color-primary);
  --color-overlay: var(--color-overlay-white);
}

/* sizes */
html {
  --pad: 17px;
}

/* typography */
html {
  --font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-heading: var(--font-family);
  --font-size: 17px;
  --font-size-h1: 48px;
}

@media (max-width: 376px) {
  html {
    --font-size: 15px;
    --pad: 15px;
    --font-size-h1: 36px;
  }
}